<nav *ngIf="loginService.isLoggedIn" class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">TallerTEC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button type="button" class="btn btn-light" (click)="logout()">Logout</button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="home">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="gestion-trabajadores">Gestión de trabajadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="gestion-clientes">Gestión de clientes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="registro-citas">Registro de citas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="facturacion">Facturación</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="reportes">Reportes</a>
              </li>

          </ul>
        </div>
      </div>
</nav>
<router-outlet></router-outlet>
