<div class="container text-center">
    <div class="row align-items-center mt-5">
      <div class="col align-self-center">
        <button type="button" class="btn btn-primary bg-white text-dark" (click)="crearCliente()">Crear cliente</button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Nombre completo</th>
              <th>Usuario</th>
              <th>Correo</th>
              <th>Teléfonos</th>
              <th>Direcciones</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <th>{{ cliente.cedula }}</th>
              <td>{{ nombreCompleto(cliente) }}</td>
              <td>{{ cliente.usuario }}</td>
              <td>{{ cliente.correo }}</td>
              <td>{{ telefonos(cliente) }}</td>
              <td>{{ direcciones(cliente) }}</td>
              <td>
                <button type="button" class="btn btn-primary" (click)="editarCliente(cliente)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
