<div class="container text-center">
  <div class="row align-items-center mt-5">
    <div class="col align-self-center">
      <button type="button" class="btn btn-primary" (click)="crearTrabajador()">Crear trabajador</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Nombre completo</th>
            <th>Fecha de ingreso</th>
            <th>Fecha de nacimiento</th>
            <th>Edad</th>
            <th>Rol</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trabajador of trabajadores">
            <th>{{ trabajador.cedula }}</th>
            <td>{{ nombreCompleto(trabajador) }}</td>
            <td>{{ fechaIngreso(trabajador) }}</td>
            <td>{{ fechaNacimiento(trabajador) }}</td>
            <td>{{ edad(trabajador) }}</td>
            <td>{{ trabajador.rol }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="editarTrabajador(trabajador)">
                <i class="fa-solid fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
